@charset "UTF-8";
@import url(https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
/*Färgkarta*/
/*MENYN*/
#nav {
  width: 100%;
  font-size: 1em;
  background: whitesmoke; }

#nav label.menu {
  position: relative;
  /*positionering*/
  display: block;
  min-height: 2em;
  padding: 0.45em;
  font-size: 1.1em;
  margin: 0;
  cursor: pointer;
  background: whitesmoke;
  line-height: 2em;
  color: lightseagreen; }

ß
#nav label.menu:after {
  position: absolute;
  /*absolut till label*/
  right: 1em;
  top: 0.2em;
  content: "\2261";
  /*meny ikonet på mobil*/
  font-size: 1.8em;
  color: lightseagreen; }

/*dölj checkboxen*/
#nav input.trigger {
  position: absolute;
  display: none; }

/*Fäll ut hela menyn om checkboxen är iklickad*/
#nav input.trigger:checked ~ ul, #nav input.trigger:checked ~ ul li ul {
  display: block !important; }

/*Menyn dold som default på mobilen*/
#nav > ul {
  display: none;
  position: relative;
  width: 100%;
  padding: 0.625em; }

#nav ul li a {
  display: block;
  color: lightseagreen; }

/*Själva megamenu på mobilen*/
#nav ul.megamenu ul li a {
  color: seagreen;
  padding-left: 2.5em; }

#nav ul.megamenu ul li a:hover {
  color: lightseagreen; }

/*Formuläret*/
.flex-form li {
  display: flex;
  flex-flow: row wrap;
  align-items: center; }

.flex-form > li > .form-label {
  flex: 1 0 6.25em;
  max-width: 12.5em;
  color: white; }

.flex-form > li > .form-label + * {
  flex: 1 0 12.5em;
  margin-bottom: 0.6em; }

.flex-form li button {
  margin: 1.25em;
  margin-left: 0;
  padding: 1em;
  width: 100%; }

/*på desktopen visa inte mobil label*/
@media (min-width: 40em) {
  #nav label.menu {
    display: none; }
  #nav {
    background: whitesmoke;
    font-size: 1em;
    box-shadow: 0 4px 2px -2px black; }
  /*Sätt till flex på menyn på desktop*/
  #nav > ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    max-width: 75em;
    margin: 0 auto;
    padding: 0; }
  #nav a {
    display: block;
    color: #fff; }
  #nav ul li {
    color: #fff;
    transition: 0.5s; }
  /*förskjut innehållet vänster i menyn förutom för fonticons*/
  #nav ul li:nth-child(6) {
    margin-left: auto;
    margin-right: 2em;
    padding-bottom: 0;
    padding-top: 0; }
  li:nth-child(n + 6) {
    display: flex;
    align-items: center; }
  /*15px över ooch under och 25px padding till höger och vänster */
  #nav > ul > li > a {
    padding: 15px 25px; }
  /*för li elementet där undermenyn ligger, så använder vi psuedo elementet :after på a elementet för att rita en pil*/
  #nav ul > li.submenu > a:after {
    position: relative;
    float: right;
    /*använder float för placering av pilen*/
    content: "";
    margin-left: 10px;
    margin-top: 8px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    border-bottom: 5px solid transparent; }
  /*vid hover på vår undermeny så vänder vi på pilen*/
  #nav ul > li.submenu:hover > a:after {
    margin-top: 2px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid #fff; }
  /*ändra li färgen till blå vid hover*/
  #nav > ul > li:hover {
    background: whitesmoke; }
  /*vår stora megamenu*/
  #nav ul.megamenu {
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    max-width: 1200px;
    top: -900px;
    left: 0;
    padding: 40px 40px 0 40px;
    background: whitesmoke;
    text-align: left;
    /*border-top: 5px solid #4096ee;*/
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 1; }
  #nav ul li:hover ul.megamenu {
    top: 100%; }
  /*fördelad på fem kolumner med flex basis satt till 20%*/
  #nav ul.megamenu ul {
    flex: 1 1 20%;
    margin-bottom: 20px;
    color: seagreen;
    box-shadow: none; }
  #nav ul.megamenu h4 {
    margin-bottom: 15px;
    text-transform: uppercase; }
  #nav ul.megamenu ul li {
    display: block; }
  #nav ul.megamenu ul li a {
    margin-top: 0.625em;
    transition: 0.5s;
    padding-left: 0; }
  .flex-form > li > .form-label + * {
    display: flex; }
  .flex-form li button {
    width: 55%; } }

header {
  background: whitesmoke; }

@media (min-width: 48em) {
  header {
    display: flex;
    flex-direction: row wrap; } }
