/*general styling*/
html {
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  html,
  header,
  footer,
  body,
  nav,
  div,
  img,
  a,
  ul,
  li,
  h1,
  h2 {
    margin: 0;
    padding: 0;
    color: map-get($colors, profile);
    text-decoration: none;
    list-style-type: none;
  }
  
