.portfolio {
    color: white;
}

.portfolio-item {
    background-position: top, left;
    background-color: black;
    height: auto;
    text-align: center;
    vertical-align: middle;
    line-height: auto;
    padding: 1em;
    margin-bottom: 1em;
    z-index: 10;
    transition: 300ms;
    &:hover {
        background-color: white;
        box-shadow: 5px 5px 5px #000000;
    }
}

@supports (grid-area: auto) {
    @include respond-to ('pc') {
        .portfolio-item {
            .small {
                grid-column: span 1;
                grid-row: span 1;
            }
            .medium {
                grid-column: span 2;
                grid-row: span 2;
            }
            .large {
                grid-column: span 3;
                grid-row: span 3;
            }
            .tall {
                grid-column: span 3;
                grid-row: span 2;
            }
            .wide {
                grid-column: span 2;
                grid-row: span 3;
            }
        }
    }
}